html {
    background-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block
}

ul {
    letter-spacing: -8px;
    list-style: none;
}

li {
    letter-spacing: normal;
}

#bg01 {
    width: 100%;
    background: url("../images/banner-lansebolang.png") no-repeat top right;
    overflow: hidden;
    /*background-color: hotpink;*/
}

.topNav {
    width: 1152px;
    height: 44px;
    margin: 0 auto;
    /*background-color: red;*/
    margin-top: 13px;
}

.logoBg {
    width: 116px;
    height: 36px;
    /*background-color: #228fff;*/
    float: left;
    margin-top: 4px;
    color: black;
}

.logoImg{
    /*width: 100%;*/
    height: 100%;
}

.topMenu li {
    float: right;
    height: 44px;
    text-align: center;
}

.topMenu li a {
    padding: 0 30px;
    height: 32px;
    margin-top: 6px;
    line-height: 32px;

    opacity: 0.6;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
}

.topMenu li .topMenu_liJiShiYongBtn {
    border-radius: 16px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    line-height: 30px;
}

.topMenu li a:hover {
    color: #FFFFFF;
    opacity: 1;
}



.topMostMune{
    display: inline-block;
    position: absolute;
    width: 44px;
    height: 44px;
    margin-left: 100%;
    left: -64px;
    opacity: 0;
    top: 13px;
    /*background-color: greenyellow;*/
    text-align: center;
}

.topMostMune img{
    width: 34px;
    height: 34px;
    margin-top: 5px;
}

.topOtherBg {
    width: 1152px;
    margin: 0 auto;
    overflow: hidden
}

.topOther_left {
    width: 50%;
    float: left;
    /*background-color: yellow;*/

}

.topOther_left_detailBg {
    width: 385px;
    height: 214px;
    margin-top: 240px;
    margin-left: 26px;
    /*background-color: pink;*/
}

.topOther_left_title {
    display: inline-block;
    width: 100%;

    font-family: PingFangSC-Regular;
    font-size: 36px;
    color: #222222;
    letter-spacing: -1.98px;
    /*background-color: red;*/
}

.topOther_left_detail {
    display: inline-block;
    width: 100%;
    margin-top: 24px;

    opacity: 0.85;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0;
    /*background-color: blue;*/
}

.topOther_leftItem li {
    margin-top: 24px;
    width: 55px;
    height: 70px;
    float: left;
    margin-right: 70px;
    text-align: center;
    /*background-color: green;*/
}

.topOther_leftItem img {
    width: 44px;
    height: 44px;
}

.topOther_leftItem span {
    opacity: 0.85;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0;
}

.shuXuXian{
    width: 1px;
    height: 26px;
    float: left;
    margin-top: 50px;
    margin-left: -40px;
    border-right: 1px dashed #cccccc;
}



.topOther_right {
    width: 50%;
    /*background-color: yellowgreen;*/
    float: left;
}

.iphone {
    /*width: 305px;
    height: 613px;*/
    margin-top: 60px;
    margin-left: 115px;
    padding-bottom: 32px;
}






#bg02 {
    /*position: relative;*/
    width: 100%;
    /*height: 1194px;*/
    background-color: #fbfbfb;
    text-align: center;
    overflow: hidden;
}

.bg02_bgImg {
    width: 100%;
    height: 678px;
    background: url("../images/huisebolang.png") no-repeat left bottom;
    background-color: #fff;
    /*position: absolute;*/
    z-index: 4;
}

.bg02_detailBg {
    width: 100%;
    margin-top: -778px;
    padding-top: 1px;
}

#fixMenu {
    margin-top: 71px;
    width: 100%;
    height: 55px;
    position: absolute;
}

#fixMenu ul{
    width: 1152px;
    margin: 0 auto;
    overflow: hidden;
    /*background-color: red;*/
}

#fixMenu ul li {
    float: left;
    width: 14.28%;
    overflow: hidden;
}

#fixMenu ul li a{
    display: inline-block;
    width: 100%;
    line-height: 55px;
    text-align: center;

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #222222;
    letter-spacing: 0.67px;
}

#fixMenu ul li div {
    width: 30px;
    height: 4px;
    background-color: #2288FF;
    border-radius: 2px;
    margin: -10px auto 0 auto;
    opacity: 0;
}



.bg02_title {
    display: inline-block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-top: 197px;

    font-family: PingFangSC-Regular;
    font-size: 32px;
    color: #222222;
}

.title_bottomLine {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
    background: #2288FF;
}

.bg02_detail {
    width: 100%;
    height: 27px;

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 27px;
}

.bg02_listMenu {
    width: 950px;
    margin: 0 auto;
    margin-top: 94px;
    overflow: hidden;
}

.bg02_listMenu li {
    /*display: inline-block;*/
    float: left;
    /*width: 16.6%;*/
    /*padding-right: 10px;*/
}

.bg02_listMenu .bg02_listMenuBg img {
    width: 30px;
    height: 30px;
    padding: 16px;
    border-radius: 15px;
    margin-top: 36px;
    margin-left: -16px;

    background: #2288FF;
    box-shadow: 0 6px 12px 0 rgba(32, 33, 39, 0.08);
}

.bg02_listMenu .bg02_item5 img {
    margin-left: 0;
}

.bg02_listMenu .bg02_listMenuBg p {
    width: 100%;
    height: 22px;
    line-height: 22px;
    margin-top: 15px;
    margin-left: -6px;

    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #222222;
}

.bg02_listMenu .bg02_item5 p {
    margin-left: 0;
}

.bg02_icon {
    width: 426px;
    height: 542px;
    margin-top: 86.3px;
}



#bg022 {
    width: 100%;
    /*background-color:red;*/
    overflow: hidden;
    text-align: center;
}

.bg022_title {
    display: inline-block;
    width: 100%;
    height: 45px;
    margin-top: 83px;
    line-height: 45px;
    text-align: center;

    font-family: PingFangSC-Regular;
    font-size: 32px;
    color: #222222;
}

.bg022_title_bottomLine {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
    background: #2288FF;
}

.bg022_detail {
    width: 100%;
    height: 27px;
    text-align: center;

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 27px;
}

.dingZhiHua_icon{
    margin-top: 85px;
    margin-bottom: 50px;
}

.dingZhiHua_icon{
    width: 1126px;
}

#bg03 {
    width: 100%;
    /*background-color: #0ab382;*/
    padding-top: 1px;
    overflow: hidden;
}

.bg03_title {
    display: inline-block;
    width: 100%;
    height: 45px;
    margin-top: 83px;
    line-height: 45px;
    text-align: center;

    font-family: PingFangSC-Regular;
    font-size: 32px;
    color: #222222;
}

.bg03_title_bottomLine {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
    background: #2288FF;
}

.bg03_detail {
    width: 100%;
    height: 27px;
    text-align: center;

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 27px;
}

.bg03_detai_menu {
    width: 1050px;
    height: 25px;
    margin: 76px auto 0 auto;
    text-align: center;
    overflow: hidden;

    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #2288FF;
}

.bg03_detai_menu span{
    display: inline-block;
    line-height: 25px;
}

.bg03_detai_menu1 {
    float: left;
    text-align: left;
}

.bg03_detai_menu3 {
    float: right;
    text-align: right;
}

.bg03_detailBg {
    width: 1050px;
    margin: 47px auto 0 auto;
    text-align: center;
}

.bg03_detail_leftBg {
    display: inline-block;
    float: left;
    width: 295px;
    text-align: left;
}

.bg03_detail_midBg {
    display: inline-block;
    width: 460px;
    height: 358px;
    /*background-color: green;*/
}

.bg03_detail_rightBg {
    display: inline-block;
    float: right;
    width: 295px;
    height: 100%;
    text-align: right;
    /*background-color: orange;*/
}

.bg03_detail_leftItem {
    width: 120px;
    height: 100%;
    float: left;
    margin-top: 6px;
}

.bg03_detail_rightItem {
    width: 110px;
    height: 100%;
    float: right;
    margin-top: -12px;
}

.bg03_detail_leftItem li {
    height: 24%;
    line-height: 87px;
    /*background-color: green;*/

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #222222;
}

.bg03_detail_rightItem li {
    height: 22%;
    line-height: 77px;
    /*background-color: green;*/

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #222222;
}

.bg03_detail_leftBg img {
    width: 70px;
    height: 268px;
    margin-top: 45px;
    float: left;
}

.bg03_detail_midBg img{
    width: 100%;
    height: 100%;
}

.bg03_detail_rightBg img {
    width: 84px;
    height: 326px;
    margin-top: 16px;
    float: right;
}

#bg04 {
    width: 100%;
    /*background-color: green;*/
    text-align: center;
    overflow: hidden;
}

.bg04_title {
    display: inline-block;
    width: 100%;
    height: 45px;
    margin-top: 114px;
    line-height: 45px;
    text-align: center;

    font-family: PingFangSC-Regular;
    font-size: 32px;
    color: #222222;
}

.bg04_title_bottomLine {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
    background: #2288FF;
}

.bg04_detail {
    width: 100%;
    height: 27px;
    text-align: center;

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 27px;
}

.bg04_menuBg {
    width: 1050px;
    margin: 93px auto 0 auto;
}

.bg04_menu_item li {
    float: left;
    width: 25%;
    text-align: center;
    /*background-color: red;*/
}

.bg04_menu_item_title {
    margin-top: 8px;

    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #222222;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
}

.bg04_menu_item_detail {
    margin-top: 8px;

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}

.bg04_icon {
    width: 1070px;
    height: 382px;
    margin: 78px auto 0 auto;
}

.bg04_boLang {
    display: block;
    margin-top: -190px;
}

#bg05 {
    width: 100%;
    /*height: 767px;*/
    background: url("../images/lansegezi.png") repeat;
    text-align: center;
    overflow: hidden;
}

.bg05_title {
    display: inline-block;
    width: 100%;
    height: 45px;
    margin-top: 50px;
    line-height: 45px;
    text-align: center;

    font-family: PingFangSC-Regular;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
}

.bg05_title_bottomLine {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
    background: #FFFFFF;
}

.bg05_detail {
    width: 100%;
    height: 27px;
    text-align: center;

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 27px;
}

.teSe_menubg {
    width: 1252px;
    margin: 85px auto 0 auto;
}

.teSe_menu li {
    display: inline-block;
    width: 20%;
    height: 190px;
    /*background-color: red;*/
}

.teSe_menu li div {
    width: 68px;
    height: 68px;
    border-radius: 18px;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    margin: 0 auto;
}

.teSe_menu li div img {
    width: 36px;
    height: 36px;
    margin-top: 12px;
    /*background-color: red;*/
}

.teSe_menu li p {
    margin-top: 20px;
    color: #FFFFFF;
}


#bg06 {
    width: 100%;
    overflow: hidden;
}

.bg06_title {
    display: inline-block;
    width: 100%;
    height: 45px;
    margin-top: 85px;
    line-height: 45px;
    text-align: center;

    font-family: PingFangSC-Regular;
    font-size: 32px;
    color: #4A4A4A;
}

.bg06_title_bottomLine {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
    background: #2288FF;
}

.bg06_detail {
    width: 100%;
    height: 27px;
    text-align: center;

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 27px;
}

.bg06_menuBg {
    width: 1140px;
    text-align: center;
    margin: 58px auto 0 auto;
}

.bg06_menuItem{
    overflow: hidden;
}

.bg06_menuItem li {
    float: left;
    width: 228px;
    height: 100px;
    margin-top: 32px;
}

.bg06_menuItem li img {
    width: 190px;
    height: 100px;
    margin: 0 auto;
}

.bg06_pageControlBg {
    width: 100%;
    height: 120px;
    text-align: center;
}

.bg06_pageControl_item li {
    width: 6px;
    height: 6px;
    background-color: #999999;
    display: inline-block;
    margin: 50px 10px;
}

#bg07 {
    background: url("../images/Map@1x.png") repeat;
    /*height: 586px;*/
    padding-top: 1px;
    text-align: center;
    overflow: hidden;
}

.gengDuo_title {
    width: 100%;
    height: 37px;
    margin-top: 66px;

    font-family: PingFangSC-Regular;
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;

    /*background-color: red;*/
}

.gengDuo_title_bottom_line{
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #FFC555;
    margin: 10px auto;
}


.gengDuo_detail {
    width: 100%;

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 27px;

    /*background-color: blue;*/
}

.gengDuo_inputBg {
    width: 100%;
    margin: 0 auto;
    padding-top: 32px;
    /*background-color:green;*/
}

.gengDuo_inputBg ul li {
    display: inline-block;
    width: 262px;
    height: 98px;
    /*background-color: orange;*/
    margin: 0 12px 20px 12px;
}

.input_leftTitle {
    text-align: left;
    /*background-color: pink;*/
    height: 20px;

    opacity: 0.2;
    font-family: PingFang-SC-Medium;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}

.input_itemBg {
    width: 100%;
    height: 70px;
    /*background-color:orange;*/
    border-radius: 4px;
    border: 2px solid #5f6991;
    box-sizing: border-box;
    margin-top: 8px;

}

.input_left {
    float: left;
    width: 68px;
    height: 68px;
}

.input_leftImage {
    width: 30px;
    height: 30px;
    margin-top: 14px;
}

.input_leftLine {
    width: 20px;
    height: 4px;
    border-radius: 2px;
    margin: 0 auto;
}

.line1 {
    background-color: #99cc33;
}

.line2 {
    background-color: #FFFFFF;
}

.line3 {
    background-color: #4da1ff;
}

.line4 {
    background-color: #ffc555;
}

.gengDuo_inputBg ul li input {
    float: left;
    width: 170px;
    height: 100%;
    background-color: transparent;
    border: 0px;
    outline: none;
    color: white;
    font-size: 16px;
}

.liuYanBg {
    width: 1122px;
    margin: 0 auto;
    height: 100px;
}

.liuyan_itemBg {
    width: 100%;
    height: 70px;
    /*background-color:orange;*/
    border-radius: 4px;
    border: 2px solid #5f6991;
    box-sizing: border-box;
    margin-top: 8px;
}

.liuYan_line {
    background-color: #ff4f4f;
}

.liuyan_input {
    float: left;
    /*width: 1030px;*/
    height: 100%;
    /*margin-right: 20px;*/
    background-color: transparent;
    border: 0px;
    outline: none;
    /*margin-top: 14px;*/
    color: white;
    font-size: 16px;
}

.faSongBtn {
    width: 182px;
    height: 44px;
    margin-top: 32px;
    border-radius: 22px;
    border: 2px solid #FFFFFF;
    text-align: center;
    line-height: 44px;

    ont-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}

.faSongBtn:hover{
    background: #FFFFFF;
    color: #2288FF;
}

.gongSiXinXi {
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.gongSiXinXi ul li {
    display: inline-block;
    margin: 10px 55px;

    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #F0F0F0;
    letter-spacing: 0;
}







#lightGrayBg{
    width: 100%;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
}


input::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 0.4;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #FFFFFF;
    opacity: 0.4;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #FFFFFF;
    opacity: 0.4;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFFFFF;
    opacity: 0.4;
}

@media screen  and (min-width: 1921px) {
    #bg01{
        background-size: 62% 746px;
    }
    .bg02_bgImg{
        background-size: 100% 678px;
    }
    .bg04_boLang{
        width: 100%;
    }
}

@media screen  and (max-width: 1920px) {
    .liuYanBg {
        width: 1122px;
    }

    .gengDuo_inputBg ul li {
        width: 262px;
    }

    .gengDuo_inputBg ul li input {
        width: 180px;
    }

    .liuyan_input {
        width: 1022px;
    }

    #fixedMenu ul {
        width: 600px;
    }
}

@media screen  and (max-width: 1500px) {
    #bg01 {
        background: url(../images/banner-lansebolang.png) no-repeat top left+450px;
    }
}

@media screen  and (max-width: 1200px) {

    #bg01 {
        background: url("../images/banner-lansebolang.png") no-repeat top left+250px;
    }
    .topNav {
        width: 840px;
    }

    .topNav li a{
        padding: 0 20px;
    }

    .topOtherBg {
        width: 840px;
    }


    .bg02_listMenu {
        width: 740px;
    }


    .bg02_listMenu .bg02_listMenuBg img {
        margin-top: 16px;
    }


    .dingZhiHua_icon{
        width: 900px;
    }


    .bg03_detai_menu{
        width: 840px;
    }

    .bg03_detailBg{
        width: 840px;
        margin-top: 20px;
    }

    .bg03_detail_leftBg {
        width: 255px;
    }

    .bg03_detail_midBg {
        width: 330px;
        height: 257px;
    }

    .bg03_detail_rightBg {
        width: 255px;
    }

    .bg03_detail_leftItem {
        width: 120px;
    }

    .bg03_detail_rightItem {
        width: 110px;
    }

    .bg03_detail_leftItem li {
        line-height: 63px;
    }

    .bg03_detail_rightItem {
        margin-top: 4px;
    }

    .bg03_detail_rightItem li {
        line-height: 51px;
    }

    .bg03_detail_leftBg img {
        width: 45px;
        height: 200px;
        margin-top: 35px;
        margin-left: 10px;
    }

    .bg03_detail_rightBg img {
        width: 45px;
        height: 226px;
        margin-top: 16px;
        margin-right: 10px;
    }

   



    .bg06_menuBg {
        width: 840px;
    }

    .bg06_menuItem li {
        float: left;
        width: 168px;
        height: 72px;
        margin-top: 16px;
    }

    .bg06_menuItem li img {
        width: 120px;
        height: 71.4px;
        margin: 0 auto;
    }



    #fixMenu ul {
        width: 800px;
    }


    .teSe_menubg {
        width: 900px;
    }

    .liuYanBg {
        width: 824px;
    }

    .gengDuo_inputBg ul li {
        width: 400px;
    }

    .gengDuo_inputBg ul li input {
        width: 300px;
    }

    .liuyan_input {
        width: 724px;
    }

    .bg04_menuBg {
        width: 840px;
    }

    .bg04_icon {
        width: 840px;
        height: 300px;
        margin: 78px auto 0 auto;
    }
}

@media screen  and (max-width: 900px) {

    #bg01 {
        background: url("../images/banner-lansebolang.png") no-repeat top left+150px;
    }

    .topNav {
        width: 640px;
    }

    .topNav li a{
        padding: 0 14px;
    }

    .topOtherBg {
        width: 680px;
    }

    /*11111*/
    .topOther_left_detailBg {
        width: 370px;
        height: 295px;
        margin-top: 140px;
        margin-left: 20px;
        /*background-color: pink;*/
    }

    .topOther_left_title{
        font-size: 28px;
    }

    .topOther_left_detail{
        width: 350px;
        font-size: 18px;
        margin-top: 20px;
    }

    .topOther_leftItem li {
        margin-top: 20px;
        width: 85px;
        height: 60px;
        margin-right: 20px;
    }

    .topOther_leftItem img {
        width: 55px;
        height:55px;
    }

    .topOther_leftItem span {
        display: block;
        font-size: 16px;
    }

    .liJiShiYong{
        width: 160px;
        height: 40px;
        line-height: 36px;
        margin-top: 50px;
    }

    .yanShiShiPin{
        width: 160px;
        height: 40px;
        line-height: 36px;
        margin-top: 50px;
    }

    .iphone {
        width: 260px;
        height: 523px;
        margin-top: 60px;
        margin-left: 48px;
    }






    .bg03_detai_menu{
        width: 640px;
    }

    .bg03_detailBg{
        width: 640px;
        margin-top: 20px;
    }

    .bg03_detail_midBg {
        width: 250px;
        height: 195px;
        margin-top: 40px;
    }

    .bg03_detail_leftBg {
        width: 195px;
    }

    .bg03_detail_rightBg {
        width: 195px;
    }

    .bg03_detail_leftItem {
        width: 120px;
    }

    .bg03_detail_rightItem {
        width: 110px;
    }

    .bg03_detail_leftItem li {
        line-height: 63px;
    }

    .bg03_detail_rightItem li {
        line-height: 51px;
    }

    .bg03_detail_leftBg img {
        width: 40px;
        height: 200px;
        margin-top: 35px;
    }

    .bg03_detail_rightBg img {
        width: 45px;
        height: 226px;
        margin-top: 16px;
    }


    #fixMenu ul {
        width: 700px;
    }
    #fixMenu ul li{
        width: 14%;
    }
    #fixMenu ul li a{
        font-size: 15px;
    }

    .dingZhiHua_icon{
        width: 700px;
    }


    .liuYanBg {
        width: 624px;
    }

    .gengDuo_inputBg ul li {
        width: 300px;
    }

    .gengDuo_inputBg ul li input {
        width: 200px;
    }

    .liuyan_input {
        width: 524px;
    }

    .teSe_menubg {
        width: 700px;
        margin-top: 100px;
    }

    .bg02_listMenu {
        width: 660px;
    }

    .bg02_listMenuBg p{
        font-size: 12px;
    }

   
    .bg02_listMenu .bg02_listMenuBg img {
        margin-top: 16px;
    }



    .bg04_menuBg {
        width: 640px;
    }

    .bg04_icon {
        width: 540px;
        height: 193px;
    }

    .bg04_boLang {
        margin-top: -100px;
    }

    .bg04_menu_item_title {
        font-size: 17px;
    }

    .bg04_menu_item_detail {
        font-size: 13px;
    }



    .bg06_menuBg {
        width: 540px;
    }

    .bg06_menuItem li {
        width: 33.33%;
    }

    .shuXuXian{
        margin-left: -15px;
    }
}

@media screen  and (max-width: 700px) {
    .bg_01 {
        background: url(../images/banner-lansebolang.png) no-repeat top left+200px;
    }

    .topNav {
        width: 100%;
    }

    .logoBg{
        margin-left: 20px;
    }

    .topMenuBg{
        display:none;
    }

    .topMostMune{
        opacity: 1;
    }

    .topOtherBg{
        width: 500px;
    }

    .topOther_left_detailBg {
        width: 250px;
        height: 295px;
        margin-top: 140px;
    }

    .topOther_left_title{
        font-size: 24px;
    }

    .topOther_left_detail{
        width: 100%;
        font-size: 16px;
        margin-top: 14px;
    }

    .topOther_leftItem li {
        margin-top: 14px;
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }

    .topOther_leftItem img {
        width: 44px;
        height:44px;
    }

    .topOther_leftItem span {
        font-size: 16px;
    }

    .liJiShiYong{
        width: 110px;
        height: 40px;
        line-height: 36px;
        margin-top: 20px;
    }

    .yanShiShiPin{
        width: 110px;
        height: 40px;
        line-height: 36px;
        margin-top: 20px;
    }


    #fixMenu ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        overflow: auto;
    }

    #fixMenu ul li{
        flex: 1 0 auto;
        color: white;
        width: 100px;
    }



    .dingZhiHua_icon{
        width: 450px;
    }

    .bg02_listMenu {
        width: 420px;
        margin-top: 60px;
    }

    .bg02_listMenuBg p{
        font-size: 12px;
    }

    .bg02_listMenu .bg02_listMenuBg {
        width: 140px;
        background-size: 140px 133px;
    }

    .bg02_listMenu .bg02_item1 {
        background-size: 140px 133px;
        margin-top: 30px;
    }

    .bg02_listMenu .bg02_item5 {
        background-size: 140px 133px;
        margin-bottom: 30px;
    }



    .bg03_detai_menu{
        width: 450px;
    }

    .bg03_detai_menu span{
        font-size: 14px;
    }

    .bg03_detailBg{
        width: 450px;
        margin-top: 20px;
    }

    .bg03_detail_midBg {
        width: 150px;
        height: 117px;
        margin-top: 35px;
    }

    .bg03_detail_leftBg {
        width: 150px;
    }

    .bg03_detail_rightBg {
        width: 150px;
    }

    .bg03_detail_leftItem {
        width: 100px;
    }

    .bg03_detail_rightItem {
        width: 100px;
    }

    .bg03_detail_leftItem li {
        line-height: 40px;
        font-size: 14px;
    }

    .bg03_detail_rightItem li {
        line-height: 37px;
        font-size: 14px;
    }

    .bg03_detail_leftBg img {
        width: 30px;
        height: 150px;
        margin-top: 15px;
    }

    .bg03_detail_rightBg img {
        width: 30px;
        height: 160px;
        margin-top: 16px;
    }











    .chanPin_menu {
        width: 450px;
    }

    .liuYanBg {
        width: 400px;
    }

    .gengDuo_inputBg ul li {
        width: 400px;
    }

    .gengDuo_inputBg ul li input {
        width: 300px;
    }

    .liuyan_input {
        width: 300px;
    }

    .teSe_menubg {
        width: 420px;
    }

    .teSe_menu li {
        width: 50%;
        height: 180px;
    }


    .bg04_menuBg {
        width: 90%;
    }

    .bg04_menu_item{
    }

    .bg04_menu_item li {
        width: 50%;
        margin-bottom: 40px;
    }

    .bg04_menu_item_title {
        font-size: 17px;
    }

    .bg04_menu_item_detail {
        font-size: 13px;
    }

    .bg04_icon {
        width: 450px;
        height: 160px;
    }

    /*.bg04_boLang {*/
        /*margin-top: -100px;*/
    /*}*/

    

    .bg06_menuBg {
        width: 400px;
    }

    .bg06_menuItem li {
        width: 50%;
    }

    .shuXuXian{
        margin-top: 40px;
        margin-left: -15px;
    }
}

@media screen  and (max-width: 450px) {

    .bg_01 {
        background: url(../images/banner-lansebolang.png) no-repeat top left+150px;
    }

    .topNav {
        width: 100%;
    }

    .topOther_left_detailBg {
        width: 205px;
        height: 295px;
        margin-top: 120px;
        margin-left: 26px;
    }

    .topOther_left_title{
        font-size: 20px;
    }

    .topOther_left_detail{
        width: 100%;
        font-size: 14px;
        margin-top: 10px;
    }

    .topOther_leftItem li {
        margin-top: 10px;
        width: 45px;
        height: 60px;
        margin-right: 20px;
    }

    .topOther_leftItem img {
        width: 34px;
        height:34px;
    }

    .topOther_leftItem span {
        font-size: 14px;
    }

    .liJiShiYong{
        width: 95px;
        height: 40px;
        line-height: 36px;
        margin-top: 10px;
    }

    .yanShiShiPin{
        width: 95px;
        height: 40px;
        line-height: 36px;
        margin-top: 10px;
    }

    .iphone{
        width: 190px;
        height: 382px;
        margin-top: 40px;
        margin-left: 0px;
    }

    .topOther_left{
        /*background-color: green;*/
        width: 250px;
        float: left;
    }
    .topOther_right{
        /*width: 100px;*/
        float: left;
        /*background-color: red;*/
    }

    #fixMenu ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        overflow: auto;
    }

    #fixMenu ul li{
        flex: 1 0 auto;
        color: white;
        width: 100px;
    }

    
    #bg02{
        margin-top: -50px;
    }

   

    .bg02_listMenu {
        width: 300px;
        margin-top: 60px;
    }

    .bg02_listMenu .bg02_listMenuBg {
        width: 150px;
        height: 133px;
        background: url("../images/buzhou001.png") no-repeat;
        background-size: 150px 133px;
        margin-top: 30px;
    }

    .bg02_listMenu .bg02_item1 {
        background: url("../images/buzhou002.png") no-repeat;
        background-size: 150px 133px;
        margin-top: 30px;
    }

    .bg02_listMenu .bg02_item5 {
        background: url("../images/buzhou003.png") no-repeat;
        background-size: 150px 133px;
        margin-bottom: 30px;
    }

    .bg02_listMenu .bg02_listMenuBg img {
        margin-top: 16px;
    }


    .bg02_icon {
        width: 326px;
        height: 415px;
        margin-top: 60px;
    }

    .bg06_menuBg {
        width: 100%;
    }



    .liuYanBg {
        width: 90%;
    }

    .gengDuo_inputBg ul li {
        width: 90%;
    }

    .gengDuo_inputBg ul li input {
        width: 70%;
    }

    .liuyan_input {
        width: 70%;
    }



    .teSe_menubg {
        width: 100%;
    }

    .teSe_menu li {
        width: 50%;
        height: 150px;
    }










    .bg03_detai_menu{
        width: 320px;
    }

    .bg03_detai_menu span{
        font-size: 12px;
        width: 100px;
    }

    .bg03_detailBg{
        width: 320px;
        margin-top: 20px;
        overflow: hidden;
    }

    .bg03_detail_midBg {
        width: 120px;
        height: 94px;
        margin-top: 45px;
        margin-left:10px;
    }

    .bg03_detail_leftBg {
        width: 100px;
    }

    .bg03_detail_rightBg {
        width: 90px;
    }

    .bg03_detail_leftItem {
        width: 90px;
    }

    .bg03_detail_rightItem {
        width: 60px;
    }

    .bg03_detail_leftItem li {
        line-height: 40px;
        font-size: 12px;
    }

    .bg03_detail_rightItem li {
        line-height: 37px;
        font-size: 12px;
    }

    .bg03_detail_leftBg img {
        width: 30px;
        height: 150px;
        margin-top: 15px;
        margin-left: -20px;
    }

    .bg03_detail_rightBg img {
        width: 30px;
        height: 160px;
        margin-top: 16px;
        margin-right: -5px;
    }


    .shuXuXian{
        margin-top: 30px;
        margin-left: -10px;
        height: 20px;
    }

}